<header>
    <h1>DISNS</h1>
    <nav>
        <a href="userSet.php?action=login">login</a>
        <a href="userSet.php?action=logout">logout</a>
    </nav>
</header>
<div style="margin-bottom: 75px;"></div>

<style>

    header{
        position: fixed;
        display: flex;
        z-index: 999999;
        
        height: 75px;
        width: 100%;
        background-color: var(--perple);
        align-items: center;
    }

    header > h1{
        color: white;
        margin-left: 100px;
        font-size: 40px;
    }

    nav > a{
        padding-left: 50px;
        color: white;
        text-decoration: none;
    }

</style>